body{
    font-family: "Montserrat", sans-serif;
    background-color: #F8F9FA;
    margin: 0;
    padding: 0;
}

.homepage{
    display: flex;
    flex-direction: row;
}

.sidebar{
    position: fixed;
    width: 108px;
    background-color: #FFFFFF;
    height: 100vh;
    padding-top: 40px;
}

.headingtitle{
    font-weight: 500;
    margin-top: 40px;
}

.left{
    margin-left: 15vw;
    margin-right: 8vw;
}

.logo{
    display: block;
    width: 48px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#btnback{
    position: fixed;
    top: 66px;
    left: 10%;
}

.icon{
    display: block;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.mainmenu{
    margin-top: 120px;
}

.mainmenu .icon{
    margin-top: 40px;
    width: 28px;
    height: 28px;
}

.call{
    margin-top: 200px;
}

h1, .top a{
    margin-top: 64px;
    margin-bottom: 20px;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top a{
    color: #3F4CB3;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
}


table{
    margin-top: 5%;
    border-collapse: collapse;
}

tr{
    padding: 10px;
}

th{
    text-align: left;
    color: #A0A0A1;
}

.idheading{
    padding-right: 10px;
}

.partheading{
    padding-right: 200px;
}

.nameheading{
    padding-right: 280px;
}

.catheading{
    padding-right: 120px;
}

.manuheading{
padding-right: 100px;
}

.valueheading{
    padding-right: 100px;
}

th{
    padding-bottom: 10px;
    font-weight: 500;
}

td{
    color: #4D4D4E;
    font-size: 14px;
    padding: 15px 0;
}

tr{
    border-bottom: #d2d1d1 1px solid;
}

tr:last-of-type{
    border-bottom: none;
}

td a{
    text-decoration: none;
    color: #4D4D4E;
}

td a:hover{
    color: #919194;
}

#edit{
    margin-right: 20px;
    color: #3F4CB3;
}

#del{
    color: #920f0f;
}

#del:hover{
    color: rgb(186, 87, 87) !important;
}

#edit:hover{
    color: #6574e7;
}

.category{
    text-transform: capitalize;
}

button{
    background-color: #3F4CB3;
    color: white;
    padding: 20px 80px;
    border: none;
    /* font-weight: bold; */
    font-size: 18px;
}

.formpage{
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
}

form{
    display: flex;
    flex-direction: column;
    /* max-width: 50%; */
}

.inputgroup{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 200px;
}

.input{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

button{
    margin-top: 5%;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

button:hover{
    background-color: #2e3989;
}

.addproduct:hover{
    color: #2e3989;
}

button:active{
    background-color: #ffffff;
    color: black;
    border: solid 1px black;
}

.manu{
    margin-top: 20px;
}

select{
    margin-top: 10px;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px #919197  solid;
}

textarea{
    height: 100px;
    resize: none;
}

input{
    height: 25px;
}

label{
    margin-bottom: 5px;
}

select, textarea, input{
    font-family: Arial, Helvetica, sans-serif;
}

form#query{
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
}

.searchinputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
form#query select{
    padding: 0 25px;
}

form#query select, form#query input{
    padding-left: 10px;
    border-radius: 20px;
    border: 1px solid #8F8F8F;
    margin: 0;
}

form#query button{
    margin: 0;
    padding: 6px 10px;
    width: 10%;
    border-radius: 25px;
    font-size: 16px;
}

.urllink{
    text-decoration: underline;
    color: #6574e7;
}

#detailleft{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 75vw;
}